@font-face {
    font-family: 'Montserrat';
    src: url("../vendor/fonts/montserrat/Montserrat-Regular.ttf");
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html{}
body{}
